Django==1.10.3
dj-database-url==0.4.1
psycopg2==2.6.2
gunicorn==19.6.0
whitenoise==3.2.2
Pillow==2.6.1
bootstrap_admin==0.3.7.1
django-fontawesome==0.3.1
django_storages==1.5.2
boto==2.45.0
django-apptemplates==1.2
pytz==2015.4
python-dateutil==2.6.0
numpy==1.12.1
pandas==0.20.1
django-pandas==0.4.2